<!DOCTYPE html>
<html>
<head>
    <link rel = stylesheet type="text/css" href="static/css/Design.css"> </link>
    <title>Taxi Booking</title>

    <style>

    </style>
</head>
<body>
    <div class="header">
        <h1>Taxi Booking Catalog</h1>
    </div>

    <div class="container">
        <div class="taxi-card">
            <img src="static/img/yellowtaxi.jpeg" alt="Taxi 1">
            <div class="taxi-details">
                <h2>Taxi Model 1</h2>
                <p>Capacity: 4 passengers</p>
                <p>Price per mile: $2.50</p>
            </div>
            <button class="select-button"><a href="TaxiCatalog.html" target="_blank">SELECT</a></button>
        </div>

        <div class="taxi-card">
            <img src="static/img/yellowtaxi.jpeg" alt="Taxi 2">
            <div class="taxi-details">
                <h2>Taxi Model 2</h2>
                <p>Capacity: 6 passengers</p>
                <p>Price per mile: $3.00</p>
            </div>
            <button class="select-button"><a href="TaxiCatalog.html" target="_blank">SELECT</a></button>
        </div>

        <div class="taxi-card">
            <img src="static/img/yellowtaxi.jpeg" alt="Taxi 3">
            <div class="taxi-details">
                <h2>Taxi Model 3</h2>
                <p>Capacity: 6 passengers</p>
                <p>Price per mile: $7.00</p>
            </div>
            <button class="select-button"><a href="TaxiCatalog.html" target="_blank">SELECT</a></button>
        </div>

        <div class="taxi-card">
            <img src="static/img/yellowtaxi.jpeg" alt="Taxi 4">
            <div class="taxi-details">
                <h2>Taxi Model 4</h2>
                <p>Capacity: 6 passengers</p>
                <p>Price per mile: $23.00</p>
            </div>
            <button class="select-button"><a href="TaxiCatalog.html" target="_blank">SELECT</a></button>
        </div>

        <div class="taxi-card">
            <img src="static/img/yellowtaxi.jpeg" alt="Taxi 5">
            <div class="taxi-details">
                <h2>Taxi Model 5</h2>
                <p>Capacity: 6 passengers</p>
                <p>Price per mile: $16.00</p>
            </div>
            <button class="select-button"><a href="TaxiCatalog.html" target="_blank">SELECT</a></button>
        </div>

        <!-- Add more taxi cards as needed -->

    </div>
</body>
</html>

